{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <h1>{{ profile_user.username }} </h1>
    <h2>Followers: {{ num_followers }}, Following: {{  num_following }}</h2>

    {% if user.is_authenticated and user != profile_user %}
        {% if not currently_following %}
            <button data-user-id={{ profile_user.pk }} id="follow-button">Follow</button>
        {% else %}
            <button data-user-id={{ profile_user.pk }} id="unfollow-button">Unfollow</button>
        {% endif %}
    {% endif %}

    {% for p in posts %}
        <div class="post-div" data-post-id={{ p.pk }}>
            <h3>{{ p.user.username }}</h3>
            <h4>{{  p.created_timestamp }}</h4>
            <p class="content" data-post-id={{ p.pk }}>{{ p.content }}</p>
            <p>Likes: {{ p.like_count }}</p>
        </div>
        {% if profile_user == user %}
            <div class="hidden form-div" data-post-id={{ p.pk }}>
                <h2>Edit Post</h2>
                <form data-post-id={{ p.pk }} class="edit-form" action="{% url 'edit_post' p.pk%}" method="post">
                    {% csrf_token %}
                    {{ post_form }}
                    <input type="submit" value="Save">
                </form>
            </div>
            <button data-post-id={{ p.pk }} class="edit-button">Edit</button>
        {% endif %}
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="{% url 'profile' profile_user.pk prev_page %}">Previous</a></li>
          {% for pn in page_nums %}
            <li class="page-item"><a class="page-link" href="{% url 'profile' profile_user.pk pn %}">{{ pn }}</a></li>
          {% endfor %}
          <li class="page-item"><a class="page-link" href="{% url 'profile' profile_user.pk next_page %}">Next</a></li>
        </ul>
      </nav>

{% endblock %}

{% block script %}
    <script src="{% static 'network/js/profile.js' %}"></script>
{% endblock %}