{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing</h2>
    <p>{{ listing.title }}</p>
    <p>${{ listing.bid_price }}</p>
    {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Add to Watchlist</button>
        </form>
        <form action="{% url 'bid' listing.pk %}" method="post">
            {% csrf_token %}
            {{ bid_form }}
            <button type="submit">Bid</button>
        </form>
    {% endif %}
    {% if user == listing.creator %}
        <form action="{% url 'close_listing' listing.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Close</button>
        </form>
    {% endif %}
    
{% endblock %}