{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Watchlist</h1>
    {% for listing in listings %}
        <a href="{% url 'listing' listing.pk %}"><h3>{{ listing.title }}</h3></a>
        <h4>${{ listing.bid_price }}</h4>
        <p>{{ listing.description }}</p>
        {% if listing.image_url %}
            <img src={{ listing.image_url }} alt="image of item">
        {% endif %}
        <form action="{% url 'delete_from_watchlist' listing.pk%}" method="post">
            {% csrf_token %}
            <button type="submit">Remove from Watchlist</button>
        </form>
    {% endfor %}
{% endblock %}